  <header>
        <div class="header-top">
            <a href="/">
                <img src="/images/home-icon.png" height="35px">
            </a>
            <img src="/images/ez-tradelogo.png" height="35px">
            <form class="custom-searchbar">
                <input class="search-bar search-desktop" type="text" name="search" placeholder="search">
                <button class="search-button">
                    <div class="button-icon"></div>
                </button>
            </form>

            {{#if logged_in}}
            <a class="profile-icon" href="/profile">
            <img src="/images/no-user-icon.png" width="35px">
            </a>
            <button id="logout">logout</button>
            {{else}}
            <a class="profile-icon" href="/login">
            <img src="/images/not-logged-in-user-icon.png" width="35px">
            </a>
            {{/if}}

            <a href="/cart/{{buyer_id}}">
                <div class="shopping-cart-icon">
                    {{#if logged_in}}
                    <p class="cart-counter">{{cartCount}}</p>
                    {{else}}
                    <p class="cart-counter"></p>
                    {{/if}}
                </div>
            </a>
        </div>
        <div class="header-lower">
                          

            <ul class="category-links">
                
               <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                <li  class="more">More
            <ul>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-nav-container">
                <div class="mobile-nav">
                    <form class="custom-searchbar-mobile">
                        <input class="search-bar search-mobile" type="text" name="search" placeholder="search">
                        <button class="mobile-search-button">
                            <div class="button-icon"></div>
                        </button>
                    </form>
                    <h2 class="category-label">Categories</h2>
                    <div class="hamburger-menu">
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                    </div>
                    <div class="exit-menu-btn hide">
                        <div class="ext-mnu-bar1"></div>
                        <div class="ext-mnu-bar2"></div>
                    </div>

                </div>
                <div class="mobile-categories hide">
                    <ul class="category-links-mobile">
                        <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="homepage-design">
            <div id="homepage-graphic">

            </div>
        </section>
        
        <section class="items">
            {{#each products as |product|}}
            <div class="item">
                <div class="expand-icon">
                    <img src="/images/expand-icon.png" width="20px">
                </div>
                <div class="items-short-description">
                     <div class="item-image">
                    <div class="image-placeholder"
                        style="background-image: url({{this.image}}); background-repeat: no-repeat; background-size: cover; background-position: center;">
                    </div>
                </div>
                    <div class="item-description">
                        <h2>{{this.product_name}}</h2>
                        <div class="location">
                            <img src="/images/location-icon.png" height="20px">
                            <p>{{this.location_city}}, {{this.location_state}}</p>
                        </div>
                        <p>{{this.shortDescription}}</p>
                        <a href="/product/{{this.id}}">
                            <button class="more-info" >More info</button>
                        </a>
                        <button class="add-to-cart hide">Add To Cart</button>
                    </div>
                </div>

                <div class="full-description hide">
                    <div class="seller-contact-info">
                        <div class="seller-info">
                            <img src="/images/user-icon-empty.png" width="25px" height="25px">
                            <p class="seller-profile-name">{{this.user.first_name}} {{this.user.last_name}}</p>
                        </div>
                        <div class="seller-info">
                            <img src="/images/email-icon-2.png" height="25px">
                            <p class="seller-email-address">{{this.user.email}}</p>
                        </div>
                        <div class="seller-info">
                            <img src="/images/phone-icon-2.png" height="25px">
                            <p class="seller-phone-number">{{this.user.phone}}</p>
                        </div>
                    </div>
                </div>

                <div class="x-button hide">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            {{/each}}
           

        </section>
    </main>
    <footer>
         <div class="contacts">
            <div class="contact-links">
                <img src="/images/email-icon-footer.png" height="15px">
                <p>eztrade@info.com</p>
            </div>
            <div class="contact-links">
                <img src="/images/phone-icon-footer.png" height="18px">
                <p>1-800-545-3954</p>
            </div>
            
            <div class="contact-links">
                <a href="/post-product">
                    <img src="/images/post-product.icon.png" height="18px">
                </a>
                <p>Post a product</p>
               
            </div>
        </div>
    </footer>

    <script src="/js/index.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/searchbar.js"></script>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

