  <header>
        <div class="header-top">
            <img src="/images/home-icon.png" height="35px">
            <img src="/images/ez-tradelogo.png" height="35px">
            <div class="custom-searchbar">
                <input class="search-bar" type="text" name="search" placeholder="search">
                <button class="search-button">
                    <div class="button-icon"></div>
                </button>
            </div>
            <div class="profile-icon"></div>
            <div class="shopping-cart-icon">
                <p class="cart-counter">0</p>
            </div>
        </div>
        <div class="header-lower">
            <ul class="category-links">
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Gifts</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Toys/Games</a></li>
                <li><a href="#">Home Goods</a></li>
                <li><a href="#">Sports Gear</a></li>
                <li><a href="#">Hardware</a></li>

                <li class="more"><a href="#">More</a>
                    <ul>
                        <li><a href="#">Automotive</a></li>
                        <li><a href="#">Hobbies</a></li>
                        <li><a href="#">Other</a></li>
                        <li><a href="#">Misc</a></li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-nav-container">
                <div class="mobile-nav">
                    <div class="custom-searchbar-mobile">
                        <input class="search-bar" type="text" name="search" placeholder="search">
                        <button class="search-button">
                            <div class="button-icon"></div>
                        </button>
                    </div>
                    <h2 class="category-label">Categories</h2>
                    <div class="hamburger-menu">
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                    </div>
                    <div class="exit-menu-btn hide">
                        <div class="ext-mnu-bar1"></div>
                        <div class="ext-mnu-bar2"></div>
                    </div>

                </div>
                <div class="mobile-categories hide">
                    <ul class="category-links-mobile">
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Gifts</a></li>
                        <li><a href="#">Fashion</a></li>
                        <li><a href="#">Toys/Games</a></li>
                        <li><a href="#">Home Goods</a></li>
                        <li><a href="#">Sports Gear</a></li>
                        <li><a href="#">Hardware</a></li>
                        <li><a href="#">Automotive</a></li>
                        <li><a href="#">Hobbies</a></li>
                        <li><a href="#">Other</a></li>
                        <li><a href="#">Misc</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section id="homepage-design">
            <div id="homepage-graphic">

            </div>
        </section>
        <section class="items">
            {{#each products as |product|}}
            <div class="item">
                <div class="items-short-description">
                    <div class="item-image">
                        <div class="image-placeholder">
                            <img width="""" src="{{this.image}}">
                        </div>
                    </div>
                    <div class="item-description">
                        <h2>{{this.product_name}}</h2>
                        <div class="location">
                            <img src="/images/location-icon.png" height="20px">
                            <p>{{this.location_city}}, {{this.location_state}}</p>
                        </div>
                        <p>{{this.shortDescription}}</p>
                        <button class="more-info">More info</button>
                        <button class="add-to-cart hide">Add To Cart</button>
                    </div>
                </div>

                <div class="full-description hide">
                    <div class="seller-contact-info">
                        <div class="seller-info">
                            <img src="/images/user-icon-empty.png" width="25px" height="25px">
                            <p class="seller-profile-name">{{this.user.name}}</p>
                        </div>
                        <div class="seller-info">
                            <img src="/images/email-icon-2.png" height="25px">
                            <p class="seller-email-address">{{this.user.email}}</p>
                        </div>
                        <div class="seller-info">
                            <img src="/images/phone-icon-2.png" height="25px">
                            <p class="seller-phone-number">{{this.user.phone}}</p>
                        </div>
                    </div>
                </div>

                <div class="x-button hide">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                </div>
            </div>
            {{/each}}
           

        </section>
    </main>
    <footer>
        <div class="contacts">
            <div class="contact-links">
                <img src="/images/email-icon.png" height="18px">
                <p>eztrade@info.com</p>
            </div>
            <div class="contact-links">
                <img src="/images/phone-icon.png" height="18px">
                <p>1-800-545-3954</p>
            </div>
        </div>
    </footer>