 <div id="product-container"> 
 <header>
        <div class="header-top">
            <a href="/">
                <img src="/images/home-icon.png" height="35px">
            </a>
            <img src="/images/ez-tradelogo.png" height="35px">
            <div class="custom-searchbar">
                <input class="search-bar" type="text" name="search" placeholder="search">
                <button class="search-button">
                    <div class="button-icon"></div>
                </button>
            </div>
            {{!-- <div class="profile-icon">
                {{#if logged_in}}
                <a href="/profile"></a>
                {{else}}
                <a href="/login"></a>
                {{/if}}
            </div> --}}
             {{#if logged_in}}
            <a class="profile-icon" href="/profile">
            <img src="/images/no-user-icon.png" width="35px">
            </a>
            <button id="logout">logout</button>
            {{else}}
            <a class="profile-icon" href="/login">
            <img src="/images/not-logged-in-user-icon.png" width="35px">
            </a>
            {{/if}}
            <a href="/cart/{{buyer_id}}">
                <div class="shopping-cart-icon">
                    {{#if logged_in}}
                    <p id="amount-items-cart" class="cart-counter">{{cartCount}}</p>
                    {{else}}
                    <p class="cart-counter"></p>
                    {{/if}}
                </div>
            </a>
        </div>
        <div class="header-lower">
                          

            <ul class="category-links">
                
               <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2"></a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                <li  class="more">More
            <ul>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-nav-container">
                <div class="mobile-nav">
                    <div class="custom-searchbar-mobile">
                        <input class="search-bar" type="text" name="search" placeholder="search">
                        <button class="mobile-search-button">
                            <div class="button-icon"></div>
                        </button>
                    </div>
                    <h2 class="category-label">Categories</h2>
                    <div class="hamburger-menu">
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                    </div>
                    <div class="exit-menu-btn hide">
                        <div class="ext-mnu-bar1"></div>
                        <div class="ext-mnu-bar2"></div>
                    </div>

                </div>
                <div class="mobile-categories hide">
                    <ul class="category-links-mobile">
                        <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2"></a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main id="main-product">
        <div class="product-container">
        <div id="product-info" class="hide">{{this.id}}</div>
        <div class="user-info hide">{{buyer_id}}</div>

        <section class="item-view">
            <div class="product-view-img">
                <div class="product-place-holder" style="background-image: url({{this.image}}); width: 400px; height: 400px; background-repeat:
                    no-repeat; background-size: cover; background-position: center;">
                </div>
            </div>
            <div class="product-view-description">
                <h2>{{this.product_name}}</h2>
                <h3 class="product-price">{{this.price}}</h3>
                <div class="productview-location">
                    <img src="/images/location-icon.png" height="20px">
                    <p class="product-seller-location">{{this.location_city}}, {{this.location_state}}</p>
                </div>
                <p>{{this.longDescription}}</p>
                <h5 id="contact-seller">Contact Seller</h5>
                <div class="product-seller-info">
                    <div class="seller-info-productview">
                        <img src="/images/user-icon-empty.png" width="20px" height="20px">
                        <p class="seller-profile-name">{{this.user.first_name}} {{this.user.last_name}}</p>
                    </div>
                    <div class="seller-info-productview">
                        <img src="/images/email-icon-2.png" height="20px">
                        <p class="seller-email-address">{{this.user.email}}</p>
                    </div>
                    <div class="seller-info-productview">
                        <img src="/images/phone-icon-2.png" height="20px">
                        <p class="seller-phone-number">{{this.user.phone}}</p>
                    </div>

                </div>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </section>
    </main>
    
 </div>
    <script src="/js/index.js"></script>
    <script src="/js/cart.js" defer></script>
