 <header>
        <div class="header-top">
            <a href="/">
                <img src="/images/home-icon.png" height="35px">
            </a>
            <img src="/images/ez-tradelogo.png" height="35px">
            <div class="custom-searchbar">
                <input class="search-bar" type="text" name="search" placeholder="search">
                <button class="search-button">
                    <div class="button-icon"></div>
                </button>
            </div>
            
            {{#if logged_in}}
            <a class="profile-icon" href="/profile"></a>
            {{else}}
            <a class="profile-icon" href="/login"></a>
            {{/if}}
            <a href="/cart/{{buyer_id}}">
                <div class="shopping-cart-icon">
                    <p class="cart-counter">0</p>
                </div>
            </a>
        </div>
        <div class="header-lower">
                          

            <ul class="category-links">
                
               <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                <li  class="more">More
            <ul>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-nav-container">
                <div class="mobile-nav">
                    <div class="custom-searchbar-mobile">
                        <input class="search-bar" type="text" name="search" placeholder="search">
                        <button class="search-button">
                            <div class="button-icon"></div>
                        </button>
                    </div>
                    <h2 class="category-label">Categories</h2>
                    <div class="hamburger-menu">
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                    </div>
                    <div class="exit-menu-btn hide">
                        <div class="ext-mnu-bar1"></div>
                        <div class="ext-mnu-bar2"></div>
                    </div>

                </div>
                <div class="mobile-categories hide">
                    <ul class="category-links-mobile">
                        <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="profile-main">
        <div class="profile-row1">
            <img src="/images/user-icon-empty.png" width="300px">
            </div>
            <div class="profile-row2">
                <div style="display: flex; justify-content: center; align-items: center;">
                <P style="margin-right: 0.5em;">{{user.first_name}}</p> <p>{{user.last_name}}</p> 
                </div>
                <P>{{user.username}}</p>
                <button id="logout">Log Out</button>
                </div>

    </section>

     <script src="/js/cart.js" defer></script>
     <script src="/js/logout.js"></script>