 <header>
        <div class="header-top">
            <a href="/">
                <img src="/images/home-icon.png" height="35px">
            </a>
            <img src="/images/ez-tradelogo.png" height="35px">
            <form class="custom-searchbar">
                <input class="search-bar search-desktop" type="text" name="search" placeholder="search">
                <button class="search-button">
                    <div class="button-icon"></div>
                </button>
            </form>
            
             {{#if logged_in}}
            <a class="profile-icon" href="/profile">
            <img src="/images/no-user-icon.png" width="35px">
            </a>
            <button id="logout">logout</button>
            {{else}}
            <a class="profile-icon" href="/login">
            <img src="/images/not-logged-in-user-icon.png" width="35px">
            </a>
            {{/if}}
            <a href="/cart/{{buyer_id}}">
                <div class="shopping-cart-icon">
                    {{#if logged_in}}
                    <p class="cart-counter">{{cartCount}}</p>
                    {{else}}
                    <p class="cart-counter"></p>
                    {{/if}}
                </div>
            </a>
        </div>
        <div class="header-lower">
                          

            <ul class="category-links">
                
               <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                <li  class="more">More
            <ul>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-nav-container">
                <div class="mobile-nav">
                     <form class="custom-searchbar-mobile">
                        <input class="search-bar search-mobile" type="text" name="search" placeholder="search">
                        <button class="mobile-search-button">
                            <div class="button-icon"></div>
                        </button>
                    </form>
                    <h2 class="category-label">Categories</h2>
                    <div class="hamburger-menu">
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                    </div>
                    <div class="exit-menu-btn hide">
                        <div class="ext-mnu-bar1"></div>
                        <div class="ext-mnu-bar2"></div>
                    </div>

                </div>
                <div class="mobile-categories hide">
                    <ul class="category-links-mobile">
                        <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="profile-main" >
        <div class="profile-row1">
            <img src="/images/user-icon-empty.png" width="300px">
            </div>
            <div class="profile-row2" style="display: flex; flex-direction: column; justify-content: space-between; height: 200px;">
                <div style="display: flex; justify-content: center; align-items: center;">
                <P style="margin-right: 0.5em;">{{user.first_name}}</p> <p>{{user.last_name}}</p> 
                </div>
                <P>{{user.email}}</p>
                <button class="user-logout" id="logout">Log Out</button>
        </div>

    </section>

    <section style="display: flex; justify-content: space-between; flex-wrap: wrap; width: 80%; margin: 2em auto;">
                {{#each products as |product|}}
            <div style="width: 45%; height: 150px; display: flex; justify-content: space-between; background-color: #efefef; border: 1px solid black;" class="your-item">
                     <div class="item-image">
                    <div class="image-placeholder"
                        style="background-image: url({{this.image}}); background-repeat: no-repeat; width: 150px; height: 150px; background-size: cover; background-position: center;">
                    </div>
                </div>
                    <div style="display: flex; flex-direction: column; justify-content: space-around; margin-right: 2em;">
                        <h2>{{this.product_name}}</h2>
                       
        
                        <p>{{this.shortDescription}}</p>
                        <form id="delete-form" data-id="{{this.id}}">
                            <button type="submit"  class="remove-item" >remove</button>
                        
                        </form>
                </div>
</div>
            
            {{/each}}

    </section>

    <script src="/js/cart.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/searchbar.js"></script>
    <script src="/js/deleteItem.js"></script>

    
