 <div class="container">
         <header>
        <div class="header-top">
            <a href="/">
                <img src="/images/home-icon.png" height="35px">
            </a>
            <img src="/images/ez-tradelogo.png" height="35px">
            <div class="custom-searchbar">
                <input class="search-bar" type="text" name="search" placeholder="search">
                <button class="search-button">
                    <div class="button-icon"></div>
                </button>
            </div>
             {{#if logged_in}}
            <a class="profile-icon" href="/profile">
            <img src="/images/no-user-icon.png" width="35px">
            </a>
            <button id="logout">logout</button>
            {{else}}
            <a class="profile-icon" href="/login">
            <img src="/images/not-logged-in-user-icon.png" width="35px">
            </a>
            {{/if}}
            <a href="/cart/{{buyer_id}}">
                <div class="shopping-cart-icon">
                    <p id="amount-items-cart" class="cart-counter">{{cart_counter}}</p>
                </div>
            </a>
        </div>
        <div class="header-lower">
                          

            <ul class="category-links">
                
               <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                <li  class="more">More
            <ul>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-nav-container">
                <div class="mobile-nav">
                    <div class="custom-searchbar-mobile">
                        <input class="search-bar" type="text" name="search" placeholder="search">
                        <button class="mobile-search-button">
                            <div class="button-icon"></div>
                        </button>
                    </div>
                    <h2 class="category-label">Categories</h2>
                    <div class="hamburger-menu">
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                        <div class="hamburger-bar"></div>
                    </div>
                    <div class="exit-menu-btn hide">
                        <div class="ext-mnu-bar1"></div>
                        <div class="ext-mnu-bar2"></div>
                    </div>

                </div>
                <div class="mobile-categories hide">
                    <ul class="category-links-mobile">
                        <li class="categories" data-category="1">
                <a href="/searchresults/1">Electronics</a>
                </li>
                <li class="categories" data-category="2">
                    <a href="/searchresults/2">Books</a>
                </li>
                <li class="categories" data-category="3">
                    <a href="/searchresults/3">Gifts</a>
                    </li>
                <li class="categories" data-category="4">
                    <a href="/searchresults/4">Fashion</a>
                    </li>
                <li class="categories" data-category="5">
                    <a href="/searchresults/5">Toys/Games</a>
                    </li>
                <li class="categories" data-category="6">
                    <a href="/searchresults/6">Home Goods</a>
                    </li>
                <li class="categories" data-category="7">
                    <a href="/searchresults/7">Sports Gear</a>
                    </li>
                <li class="categories" data-category="8">
                    <a href="/searchresults/8">Shoes</a>
                    </li>
                        <li class="categories" data-category="9">
                            <a href="/searchresults/9">Automotive</a>
                        </li>
                        <li class="categories" data-category="10">
                           <a href="/searchresults/10">Hardware / tools</a>
                            </li>
                        <li class="categories" data-category="12">
                            <a href="/searchresults/11">Misc</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


        <main>
            <section id="cartview-body">
                <div class="user-info hide">{{buyer_id}}</div>


                {{#each shoppingCart as |cartitem|}}
                <div class="cart-item" cart-id="{{this.id}}">
                    <div class="cart-item-img">
                        <a href="/product/{{this.product.id}}">
                            <div class="cart-image-placeholder" style="background-image: url({{this.product.image}}); width: 200px; height: 200px; background-repeat: no-repeat; background-size: cover;"></div>
                        </a>
                    </div>
                    <div class="cart-item-info">
                        <h2 class="cart-item-name">{{this.product.product_name}}</h2>
                        <h3 class="cart-item-price">{{this.product.price}}</h3>
                        <p class="cart-view-description">{{this.product.shortDescription}}</p>
                        {{!-- <div class="cart-contact-info">
                            <div class="seller-info-cartview">
                                <img src="/images/user-icon-empty.png" width="20px" height="20px">
                                <p class="seller-profile-name">profile name</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/images/email-icon-2.png" height="20px">
                                <p class="seller-email-address">seller@email.com</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/images/phone-icon-2.png" height="20px">
                                <p class="seller-phone-number">phone number</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/images/location-icon.png" height="20px">
                                <p class="cart-seller-location">Dallas, Texas</p>
                            </div>
                        </div> --}}
                        <button delete-id="{{this.id}}" class="remove-from-cart">
                            <div class="remove-from-cart-icon">

                            </div>
                            Remove
                        </button>
                    </div>
                </div>
                {{/each}}

                <div class="sub-total">
                    <P id="ammount-of-items"> Subtotal Items: {{cart_counter}}</P>
                    <p id="total-cost"></p>
                    <button class="checkout-button">Checkout</button>
                </div>
            </section>


        </main>
    </div>
    <footer class="cartview-footer">
        <div class="contacts">
            <div class="contact-links">
                <img src="/images/email-icon-footer.png" height="15px">
                <p>eztrade@info.com</p>
            </div>
            <div class="contact-links">
                <img src="/images/phone-icon-footer.png" height="18px">
                <p>1-800-545-3954</p>
            </div>
        </div>
    </footer>
    <script src="/js/cart.js" defer></script>
    <script src="/js/stripe.js"></script>



<!-- 
     <section class="cartview-body">
                <div class="user-info hide">{{buyer_id}}</div>


                {{#each shoppingCart as |cartitem|}}
                <div class="cart-item">
                    <div class="cart-item-img">
                        <div class="cart-image-placeholder" style="background-image: url("{{this.product.image}}"); width: 200px; height: 200px; background-repeat: no-repeat; background-size: cover;"></div>
                    </div>
                    <div class="cart-item-info">
                        <h2 class="cart-item-name">{{this.product.product_name}}</h2>
                        <h3 class="cart-item-price">{{this.product.price}}</h3>
                        <p class="cart-view-description">{{this.product.shortDescription}}</p>
                        <div class="cart-contact-info">
                            <div class="seller-info-cartview">
                                <img src="/images/user-icon-empty.png" width="20px" height="20px">
                                <p class="seller-profile-name">profile name</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/images/email-icon-2.png" height="20px">
                                <p class="seller-email-address">seller@email.com</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/images/phone-icon-2.png" height="20px">
                                <p class="seller-phone-number">phone number</p>
                            </div>
                            <div class="seller-info-cartview">
                                <img src="/images/location-icon.png" height="20px">
                                <p class="cart-seller-location">Dallas, Texas</p>
                            </div>
                        </div>
                        <button class="remove-from-cart">
                            <div class="remove-from-cart-icon">

                            </div>
                            Remove
                        </button>
                    </div>
                </div>
                {{/each}}

                <div class="sub-total">
                    <P id="ammount-of-items"> Subtotal  Items</P>
                    <p id="total-cost">Total: $</p>
                    <button class="checkout-button">Checkout</button>
                </div>
            </section>
-->

